In [2]:
import numpy as np
import pandas as pd

In [20]:
original_data = pd.read_excel("free_time_statistics.xlsx")
original_data.head(20)

      时间段     空闲学生
0   周一第1节     顾, 雯
1   周一第2节     顾, 雯
2   周一第3节        顾
3   周一第4节     顾, 雯
4   周一第5节  涛, 顾, 雯
5   周一第6节  涛, 顾, 雯
6   周一第7节  涛, 顾, 雯
7   周一第8节  涛, 顾, 雯
8   周三第1节  涛, 顾, 雯
9   周三第2节  涛, 顾, 雯
10  周三第3节     顾, 雯
11  周三第4节  涛, 顾, 雯
12  周三第5节  涛, 顾, 雯
13  周三第6节  涛, 顾, 雯
14  周三第7节  涛, 顾, 雯
15  周三第8节  涛, 顾, 雯
16  周二第1节  涛, 顾, 雯
17  周二第2节  涛, 顾, 雯
18  周二第3节  涛, 顾, 雯
19  周二第4节  涛, 顾, 雯

In [24]:
original_data[["星期","节次"]] = original_data["时间段"].str.split("第", expand = True)
original_data.head(20)

      时间段     空闲学生  星期  节次
0   周一第1节     顾, 雯  周一  1节
1   周一第2节     顾, 雯  周一  2节
2   周一第3节        顾  周一  3节
3   周一第4节     顾, 雯  周一  4节
4   周一第5节  涛, 顾, 雯  周一  5节
5   周一第6节  涛, 顾, 雯  周一  6节
6   周一第7节  涛, 顾, 雯  周一  7节
7   周一第8节  涛, 顾, 雯  周一  8节
8   周三第1节  涛, 顾, 雯  周三  1节
9   周三第2节  涛, 顾, 雯  周三  2节
10  周三第3节     顾, 雯  周三  3节
11  周三第4节  涛, 顾, 雯  周三  4节
12  周三第5节  涛, 顾, 雯  周三  5节
13  周三第6节  涛, 顾, 雯  周三  6节
14  周三第7节  涛, 顾, 雯  周三  7节
15  周三第8节  涛, 顾, 雯  周三  8节
16  周二第1节  涛, 顾, 雯  周二  1节
17  周二第2节  涛, 顾, 雯  周二  2节
18  周二第3节  涛, 顾, 雯  周二  3节
19  周二第4节  涛, 顾, 雯  周二  4节

In [36]:
original_data.drop("时间段", axis = 1, inplace = True)

KeyError: "['时间段'] not found in axis"

In [46]:
original_data_monday = original_data[original_data["星期"] == "周一"]

In [52]:
original_data_monday.set_index("节次", inplace = True)

In [62]:
original_data_monday.drop("星期", axis = 1, inplace = True)

KeyError: "['星期'] not found in axis"

In [72]:
original_data_monday.rename(columns = {"空闲学生":"周一"})

         周一
节次
1节     顾, 雯
2节     顾, 雯
3节        顾
4节     顾, 雯
5节  涛, 顾, 雯
6节  涛, 顾, 雯
7节  涛, 顾, 雯
8节  涛, 顾, 雯

In [74]:
original_data_tuesday = original_data[original_data["星期"] == "周二"]
original_data_tuesday.set_index("节次", inplace = True)
original_data_tuesday.drop("星期", axis = 1, inplace = True)
original_data_tuesday.rename(columns = {"空闲学生":"周二"})

C:\Users\34249\AppData\Local\Temp\ipykernel_35396\148204923.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  original_data_tuesday.drop("星期", axis = 1, inplace = True)

         周二
节次
1节  涛, 顾, 雯
2节  涛, 顾, 雯
3节  涛, 顾, 雯
4节  涛, 顾, 雯
5节     涛, 雯
6节     涛, 雯
7节  涛, 顾, 雯
8节  涛, 顾, 雯

In [76]:
original_data_wednesday = original_data[original_data["星期"] == "周三"]
original_data_wednesday.set_index("节次", inplace = True)
original_data_wednesday.drop("星期", axis = 1, inplace = True)
original_data_wednesday.rename(columns = {"空闲学生":"周三"})

C:\Users\34249\AppData\Local\Temp\ipykernel_35396\3931931644.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  original_data_wednesday.drop("星期", axis = 1, inplace = True)

         周三
节次
1节  涛, 顾, 雯
2节  涛, 顾, 雯
3节     顾, 雯
4节  涛, 顾, 雯
5节  涛, 顾, 雯
6节  涛, 顾, 雯
7节  涛, 顾, 雯
8节  涛, 顾, 雯

In [78]:
original_data_thursday = original_data[original_data["星期"] == "周四"]
original_data_thursday.set_index("节次", inplace = True)
original_data_thursday.drop("星期", axis = 1, inplace = True)
original_data_thursday.rename(columns = {"空闲学生":"周四"})

C:\Users\34249\AppData\Local\Temp\ipykernel_35396\3689611388.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  original_data_thursday.drop("星期", axis = 1, inplace = True)

         周四
节次
1节     涛, 顾
2节  涛, 顾, 雯
3节  涛, 顾, 雯
4节     涛, 顾
5节     涛, 顾
6节     涛, 顾
7节  涛, 顾, 雯
8节  涛, 顾, 雯

In [80]:
original_data_friday = original_data[original_data["星期"] == "周五"]
original_data_friday.set_index("节次", inplace = True)
original_data_friday.drop("星期", axis = 1, inplace = True)
original_data_friday.rename(columns = {"空闲学生":"周五"})

C:\Users\34249\AppData\Local\Temp\ipykernel_35396\296118644.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  original_data_friday.drop("星期", axis = 1, inplace = True)

         周五
节次
1节  涛, 顾, 雯
2节  涛, 顾, 雯
3节  涛, 顾, 雯
4节  涛, 顾, 雯
5节  涛, 顾, 雯
6节  涛, 顾, 雯
7节  涛, 顾, 雯
8节  涛, 顾, 雯

In [84]:
combined = pd.concat([original_data_monday, original_data_tuesday, original_data_wednesday, original_data_thursday,original_data_friday], axis=1)

In [88]:
new_columns = ['周一', '周二', '周三', '周四', '周五']
combined.columns = new_columns

         周一       周二       周三       周四       周五
节次
1节     顾, 雯  涛, 顾, 雯  涛, 顾, 雯     涛, 顾  涛, 顾, 雯
2节     顾, 雯  涛, 顾, 雯  涛, 顾, 雯  涛, 顾, 雯  涛, 顾, 雯
3节        顾  涛, 顾, 雯     顾, 雯  涛, 顾, 雯  涛, 顾, 雯
4节     顾, 雯  涛, 顾, 雯  涛, 顾, 雯     涛, 顾  涛, 顾, 雯
5节  涛, 顾, 雯     涛, 雯  涛, 顾, 雯     涛, 顾  涛, 顾, 雯
6节  涛, 顾, 雯     涛, 雯  涛, 顾, 雯     涛, 顾  涛, 顾, 雯
7节  涛, 顾, 雯  涛, 顾, 雯  涛, 顾, 雯  涛, 顾, 雯  涛, 顾, 雯
8节  涛, 顾, 雯  涛, 顾, 雯  涛, 顾, 雯  涛, 顾, 雯  涛, 顾, 雯

In [90]:
combined.to_csv("final_free_students_data.csv")